<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    
	<title>Go Green</title>
    <link rel="shortcut icon" href="images/plant-2.svg" type="image/svg">
</head>
<body>


<!--------- Navbar --------->
   
    <section id="nav-bar">
        <div class="containter-fluid main_menu">
        <div class="row">
            <div class="col-md-12 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/home">
                      <lord-icon class="ok" src="https://cdn.lordicon.com/bccqzuyr.json" trigger="loop" colors="primary:#a66037,secondary:#16c72e" style="width:70px;height:50px">
                      </lord-icon>Plants</a>
                      
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      
                      <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item active">
                          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/plants">Plants</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/products">Products</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/about">About</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/login">
                          	<lord-icon
    							class = "avatar" src="https://cdn.lordicon.com/dxjqoygy.json" colors="primary:#ffffff,secondary:#ffffff">
							</lord-icon></a>
                        </li>
                        
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
  </section>
  
  <!---------- Body ------------>
  
 <div class="container">
 <h2>Contact us to know about Us..</h2>
 <h4><a href="/contact">Click here</a> to contacct Us.</h4>
 </div>

<!--------- Footer ---------------->



<footer>
        <h4>Go Green</h4>
        <p>The world of plants<br>Little Investment for Poloutionfree world<br>
        thanks</p>
        <div class="footer-copyright text-center">© 2021 Copyright:</div>
</footer>  
 
<script type="text/javascript" th:src="@{/js/cart.js}"></script>
</body>
</html>