<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="icon" type="image/icon type" th:href="@{/images/favcon.png}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    
<title>Online Toy Shop Art and Craft</title>
</head>
<body>
<!-- Navbar -->
    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img th:src="@{/images/logo2.jpg}" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/homelogin">Home</a>
                </li>
      <li class="nav-item active">
        <a class="nav-link" href="/about">About </a>
      </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/homelogin#contact">Contact</a>
                  </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
             <a th:href="@{/login}"><i class="fa fa-sign-out" aria-hidden="true"></i>logout</a>
    </form>
  </div>
  </nav>
  </section>
 <div class="container"> 
   <h1>Art and Craft</h1>
   <div id="alerts"></div>
<div class="productcont">
        <div class="product">
        	<img th:src="@{/images/carft1.jpg}" class="product-img">
            <h3 class="productname">Activity Jar</h3>
            <p>Art and craft kits age 3y+</p>
            <p class="price">$ 2.15 (&#8377;159)</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        <img th:src="@{/images/clay.jpg}" class="product-img">
            <h3 class="productname">Clay</h3>
            <p>Create whatever you want.</p>
            <p class="price">$8.50</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/chalk and chuckles.jpg}" class="product-img">
            <h3 class="productname">Chalk and Chuckles</h3>
            <p>get your hand on this fast</p>
            <p class="price">$2.69 (&#8377;200)</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/magic slate.jpg}" class="product-img">
            <h3 class="productname">Magic Slate</h3>
            <p>Write anything and anywhere</p>
            <p class="price">$2.80 (&#8377;208)</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/slime.jpg}" class="product-img">
            <h3 class="productname">Slime</h3>
            <p>Product description excerpt...</p>
            <p class="price">$10.50</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/nailkit.jpg}" class="product-img">
            <h3 class="productname">Nail Kit</h3>
            <p>Nail Style Studio for girls age 5y+.</p>
            <p class="price">$1.50 ((&#8377;111))</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/stamp.jpg}" class="product-img">
            <h3 class="productname">Stamp</h3>
            <p>Happiness in little things</p>
            <p class="price">$2.69 (&#8377;200)</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/slime1.jpg}" class="product-img">
            <h3 class="productname">Slime</h3>
            <p>Enjoy endless hours of fun</p>
            <p class="price">$2.02 (&#8377;150)</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/stickers.jpg}" class="product-img">
            <h3 class="productname">Stickers</h3>
            <p>Cool stickers for kids age 4y+</p>
            <p class="price">$0.74 ((&#8377;55)</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/slime2.jpg}" class="product-img">
            <h3 class="productname">Slime</h3>
            <p>Mini Fun Pack for kids</p>
            <p class="price">$2.45 (&#8377;182)</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/paint book.jpg}" class="product-img">
            <h3 class="productname">Paint Book</h3>
            <p>Painting set for kids age 3y+</p>
            <p class="price">$4.00 (&#8377;297)</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        <div class="product">
        	<img th:src="@{/images/clay2.jpg}" class="product-img">
            <h3 class="productname">Clay</h3>
            <p>Create anything with this cute clay set</p>
            <p class="price">$5.00 (&#8377;371)</p>
            <button class="addtocart">Add To Cart</button>
        </div>
        </div>
        <div class="cart-container">
          <h2>Cart</h2>
          <table>
            <thead>
              <tr>
              <th><strong>Product</strong></th>
              <th><strong>Price</strong></th>
            </tr>
            </thead>
            <tbody id="carttable">
            </tbody>
          </table>
          <hr>
          <table id="carttotals">
            <tr>
              <td><strong>Items</strong></td>
              <td><strong>Total</strong></td>
            </tr>
            <tr>
              <td>x <span id="itemsquantity">0</span></td>
             
              <td>$<span id="total">0</span></td>
            </tr></table>

            
          <div class="cart-buttons">  
            <button id="emptycart">Empty Cart</button>
            <a href="/checkout"><button id="checkout">Checkout</button></a>
          </div>
        </div>
</div>

  
 
<script type="text/javascript" th:src="@{/js/cart.js}"></script>
</body>
</html>