<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="icon" type="image/icon type" th:href="@{/images/favcon.png}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    
<title>Online Toy Shop payment done</title>
</head>
<body>


  <!--------- Navbar --------->
  
  
    <section id="nav-bar">
    <div class="containter-fluid main_menu">
    <div class="row">
        <div class="col-md-12 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/home">
                  <lord-icon class="ok" src="https://cdn.lordicon.com/bccqzuyr.json" trigger="loop" colors="primary:#a66037,secondary:#16c72e" style="width:70px;height:50px">
                  </lord-icon>Plants</a>
                  
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  
                  <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item active">
                      <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="/plants">Plants</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="/products">Products</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="/aboutlogin">About</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="/contact">Contact</a>
                    </li>
                    
                    <li class="nav-item">
                    	<form class="form-inline my-2 my-lg-0">
                  			<a th:href="@{/login}">
                  				<img class="logout" src="https://img.icons8.com/fluency-systems-filled/30/ffffff/exit.png"/>
                  			</a>
                  		</form>
                  	 </li>
                  </div>
                </nav>
             </div>
           </div>
        </div>      
    </div>
  </section>


 <div class="container">
 <h2>You have done your payment successfully..</h2>
 <h4><a href="/homelogin">Click here</a> to continue Shopping.</h4>
 </div>
<!--------- Footer ---------------->


<footer>
        <h4>Go Green</h4>
        <p>The world of plants<br>Little Investment for Poloutionfree world<br>
        thanks</p>
        <div class="footer-copyright text-center">© 2021 Copyright:</div>
</footer>    
 
<script type="text/javascript" th:src="@{/js/cart.js}"></script>
</body>
</html>