<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="" th:href="@{/css/login.css}">
	
	<title>Go Green</title>
    <link rel="shortcut icon" href="images/plant-2.svg" type="image/svg">

</head>
<body>


<!---------- Navbar ------------>
     
    <section id="nav-bar">
        <div class="containter-fluid main_menu">
        <div class="row">
            <div class="col-md-12 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/home">
                      <lord-icon class="ok" src="https://cdn.lordicon.com/bccqzuyr.json" trigger="loop" colors="primary:#a66037,secondary:#16c72e">
                      </lord-icon>Plants</a>
                      
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      
                      <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item active">
                          <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/plants">Plants</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/products">Products</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/about">About</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/login">
                          	<lord-icon
    							class = "avatar" src="https://cdn.lordicon.com/dxjqoygy.json" colors="primary:#ffffff,secondary:#ffffff">
							</lord-icon></a>
                        </li>
                        
                      </ul>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
  </section>


<!---------- Body ------------>


<div class="container mt-5">
	<form class="box"th:action="@{/login}" th:object="${user}" method="post">
		<h1>Login</h1>
  		<div class="form-group">
    		<input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
  		</div>
  		<div class="form-group">
    		<input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Enter Password" required>
 		</div>
  		<button type="submit" class="btn btn-primary">Login</button>
  		<div class="box2">
  			<label><a href="#">Forgot password ?</a></label><br>
      		<label>OR</label><br>
      		<label>Don't have an account ? <a href="/signup">SignUp</a></label>
      </div>
	</form>
</div>


<!--------- Footer ---------------->



<footer>
        <h4>Go Green</h4>
        <p>The world of plants<br>Little Investment for Poloutionfree world<br>
        thanks</p>
        <div class="footer-copyright text-center">© 2021 Copyright:</div>
</footer>
    
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>